.lesson-content {
  /*height:  100%;*/
  width:  100%;
}

.lesson {
  height:  100%;
  padding:  10px;
  background-color: #8f95a2;
  overflow:  scroll;
}

.lesson .nav {
  margin-top: 20px;
  margin-bottom:  10px;
  text-align: center;
  /*position:  fixed;*/
  /*bottom:  50px;*/
}

.lesson .nav a {
  background-color: #6052a7;
  text-decoration: none;
  font-size:  1rem;
  color: #cccccc;
  border: none;
  border-radius: 2px;
  padding: 8px;
  margin: 10px;
  width:  100px;
}