.code-snippet pre {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  background: #292D36;
  
  line-height: 1.6;
  margin-bottom: 1.6em;
  margin-right: 10px;
  max-width: 100%;
  padding-top: 10px;
  padding-right: 12px;
  padding-bottom: 10px;
  padding-left: 12px;
  /* color: rgb(152, 152, 152); */
  color: #fff;
  page-break-inside: avoid;
}

.code-snippet code {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: flex-start;
  width: calc(100% - 60px);
  overflow-x: scroll;
  overflow-y: scroll;
  word-wrap: break-word;
}

.code-snippet .icon-container {
  align-self: center;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  width: 60px;
}

.code-snippet .icon-container span {
  margin-left: 5px;
}

.code-snippet button {
  color: #fff;
  background: none;
  border-style: none;
  padding: 10px;
  /* width: 14px; */
  /* height: 16px; */
  /* position: relative; */
  cursor: pointer;
  /* top: -4px; */
  /* left: -5px; */
}

.code-snippet button:hover {
  color: #AFB4BE;
}

.code-snippet button:active {
  color: #cad1de;
}
