.code-snippet pre {
  display: flex;
  box-sizing: border-box;
  background: #353343;
  border: 1px solid #31353e;
  margin-bottom: 1.6em;
  margin-right: 10px;
  max-width: 100%;
  padding-top: 10px;
  padding-right: 12px;
  padding-bottom: 10px;
  padding-left: 12px;
  /* color: rgb(152, 152, 152); */
  color: #f4f4f4;
  page-break-inside: avoid;
  font-family: 'Menlo', consolas, monospace;
  position: relative;
}

.code-snippet code {
  height: 3rem;
  float: left;
  width: calc(100% - 20px);
  overflow-x: hidden;
  overflow-y: hidden;
  word-wrap: break-word;
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.5px;
  color: #f4f4f4;
}

.code-snippet button {
  color: #f4f4f4;
  background: none;
  border-style: none;
  padding: 10px;
  height: 100%;
  position: relative;
  cursor: pointer;
}

.code-snippet .icon-container {
  background-image: linear-gradient(
    to right,
    rgba(53, 51, 67, 0.027),
    rgba(53, 51, 67, 0.959),
    rgb(53, 51, 67),
    rgb(53, 51, 67),
    rgb(53, 51, 67),
    rgb(53, 51, 67)
  );
  position: absolute;
  right: 0;
  padding-left: 40px;
  height: 100%;
  top: 0;
}

.code-snippet button:hover {
  color: #afb4be;
}

.code-snippet button:active {
  color: #cad1de;
}
