.code-snippet pre {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  background: #353343;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  padding: 1rem;
  color: #f4f4f4;
  page-break-inside: avoid;
}

.code-snippet code {
  flex: 1;
  overflow-x: scroll;
  overflow-y: auto;
  word-wrap: break-word;
  font-size: 14px;
  max-height: 3.2em; /* 2 lines * 1.6 line-height */
}

.code-snippet .icon-container {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
}

.code-snippet .icon-container > div {
  align-self: center;
}

.code-snippet button {
  color: #f4f4f4;
  background: none;
  border-style: none;
  padding: 0 10px;
  cursor: pointer;
}

.code-snippet button:hover {
  color: #afb4be;
}

.code-snippet button:active {
  color: #cad1de;
}
