.lesson {
  /* padding-top: 5vh; */
  /* margin-left: 1em; */
  height: 93vh;
  width: 25vw;
  background-color: #0e0e0e;
  /* overflow: scroll; */
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
  align-item: flex-end;
  flex-direction: column;
  color: #777e8b;
  box-sizing: border-box;
  border-radius: 1em;
}

.lesson-content {
  width: 100%;
  height: 100%;
  padding: 16px;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
  scrollbar-color: red yellow;
}

.lesson-content h2 {
  border-bottom-color: #31353e;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 16px;
  font-weight: 400;
}

.lesson-content a {
  color: #a9a9a9;
}
