.lesson {
  height: 100%;
  background-color: #242830;
  display: flex;
  flex-direction: column;
  color: #777e8b;
  box-sizing: border-box;
}

.lesson-content {
  padding: 16px;
  margin-bottom: "2em";
}

.lesson-content h2 {
  border-bottom-color: #31353e;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 16px;
  font-weight: 400;
}

.lesson-content a {
  color: #a9a9a9;
}
