.pager {
  background-color: transparent;
  box-sizing: border-box;
  position: absolute;
  height: 40px;
  width: 100%;
  overflow: hidden;
  bottom: 70px;
  z-index: 2;
  left: 0;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.pager .link-container {
  user-select: none;
  box-sizing: border-box;
  display: inline-block;
  border: none;
  border-width: 1px;
  width: 30%;
  height: 100%;
  position: relative;
  text-decoration: none;
  font-size: 1rem;
  color: #8c95a7;
  overflow: hidden;
  text-transform: uppercase;
  text-align: center;
}

.pager .link-container.numbering {
  padding: 7px 15px;
}

.pager .link-container a {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  padding: 7px 15px;
}

.pager .link-container.next a {
  text-align: left;
  color: #f4f4f4;
}

.pager .link-container.previous a {
  text-align: left;
  color: #f4f4f4;
}

.pager .link-container.previous a:hover {
  color: #8c95a7;
}

.pager .link-container.next a:hover {
  color: #8c95a7;
}

.pager .link-container.previous .arrow,
.link-container.previous .caption {
  float: left;
  margin: 0 5px;
}

.pager .link-container.next .arrow,
.link-container.next .caption {
  float: right;
  margin: 0 5px;
}

.progress-bar {
  background-color: rgba(244, 244, 244, 0.6);
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 10px;
}

.progress-bar .progress-fill {
  background-color: #1ef9fa;
  height: inherit;
}
