.lesson {
  height: 100%;
  /* background-color: #02000E; */
  /* padding-left: 24px;
  padding-right: 24px; */
  /* overflow:  scroll; */
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  color: #f4f4f4;
  box-sizing: border-box;
}

.lesson-content {
  width:  100%;
  height: 90%;
  padding-top: 16px;
  padding-right:  32px;
  padding-left: 32px; /* to align with navbar bars icon */
  overflow-y:  scroll;
  overflow-x: hidden;
  margin-bottom: 4  0px;
  box-sizing: border-box;
}

.lesson-content h2 {
  font-size: 30px; /* figma is 32px but it causes some headings to overflow to next line */
  margin: 0;
  margin-top: 4px;
  margin-bottom: 24px;
  color: #F4F4F4;
  font-weight: 400;
}

.lesson-content a {
  color: #a9a9a9
}

.lesson-content p {
  color: #F4F4F4;
  letter-spacing: 0.5px;
  line-height: 19px;
}
