#sideMenu {
  color: rgb(176, 180, 190);
  padding: 24px;
  background-color: #030014;
  /*border-width: 4px;*/
  /*border-style: solid;*/
  width: 400px;
  position: fixed;
  right: 0px;
  top: 0px; /* This should match the height of the top menu bar */
  height: 100vh;
  z-index: 999;
  transition: transform 0.4s cubic-bezier(0, 0.52, 0, 1);
  overflow-y: scroll;
}

#sideMenu.hide {
  transform: translate3d(450px, 0, 0);
}

#sideMenu.show {
  transform: translate3d(0, 0, 0);
}

#sideMenu button {
  /* float: right; */
  font-size: 20px;
  background: none;
  border: none;
  padding: 0;
  /* margin-right: 10px; */
  cursor: pointer;
  outline: inherit;
  color: #ffffff;
  font-weight: 100;
}

#sideMenu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#sideMenu li {
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 1rem;
}

#sideMenu li.section {
  color: #9a99a1;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 1.8rem;
  font-weight: 500;
}

#sideMenu li a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

#sideMenu li a.disabled {
  color: #806e6e;
  cursor: default;
}

.backdrop {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.4s;
  z-index: 998;
}

.backdrop.show {
  opacity: 0.5;
  pointer-events: auto;
}

.backdrop.hide {
  opacity: 0;
}

@media (min-width: 1512px) {
  #sideMenu {
    width: 400px;
  }
  #sideMenu.hide {
    transform: translate3d(450px, 0, 0);
  }
}
