#sideMenu {
  flex: none;
  padding: 32px 0 0 32px;
  background-color: #030014;
  width: 300px;
  box-sizing: border-box;
  position: static;
  left: 0px;
  top: 0px;
  height: 100vh;
  transition: transform 0.4s cubic-bezier(0, 0.52, 0, 1);
  overflow-y: auto;
}

#sideMenu.hide {
  transform: translate3d(-450px, 0, 0);
}

#sideMenu.show {
  transform: translate3d(0, 0, 0);
}

#sideMenu button {
  font-size: 29px; /* to increase the width of the X icon inside to 18px */
  background: none;
  border: none;
  padding: 0;
  margin-bottom: 11px;
  cursor: pointer;
  outline: inherit;
  color: #f4f4f4;
  font-weight: 100;
}

#sideMenu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#sideMenu li {
  line-height: 21px;
  padding-top: 0;
  padding-bottom: 16px;
  font-size: 16px;
  position: relative;
  font-weight: 500;
  letter-spacing: 0.5px;
}

#sideMenu li.section {
  line-height: 39px;
  color: #9a99a1;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 32px;
  font-weight: 500;
}

#sideMenu li a {
  text-decoration: none;
  color: #f4f4f4;
  display: block;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
}

#sideMenu li a.disabled {
  color: #806e6e;
  cursor: default;
}

.backdrop {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.4s;
  z-index: 998;
}

.backdrop.show {
  opacity: 0.5;
  pointer-events: auto;
}

.backdrop.hide {
  opacity: 0;
}

.active {
  position: absolute;
  left: -20px;
}

@media screen and (max-width: 1000px) {
    #sideMenu {
        display: none;
    }
}
