.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  margin-top: 20px;
  font-size: 18px;
}

.navbar img {
  width: 25px;
  height: 25px;
  margin-right: 12px;
  position: relative;
}

.navbar .title-container {
  display: inline-block;
}

.navbar .actions-container {
  display: inline-block;
}

.navbar .title-container a {
  text-decoration: none;
  color: #F4F4F4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Anek Latin";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  /* identical to box height, or 22px */

  text-align: center;
  letter-spacing: 0.5px;
}

.navbar .actions-container button {
  background: none;
  border: none;
  /* padding: 0; */
  /* margin-left: 20px; */
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: #f4f4f4;
  font-weight: 100;
}

.actions-container:first-child button {
  margin-left: 20px;
}

.actions-container:nth-child(2) button {
  margin-left: 25px;
}

.actions-container:nth-child(3) button {
  margin-right: 20px;
}  

.bug-button {
  background-color: transparent;
  color: #686672;
  border: none;
  position: fixed;
  top: 30.5px;
  right: 22px;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-family: 'Anek Latin';
  padding: 5px 10px;
  cursor: pointer;
  z-index: 1;
}