.panel-container {
  display: flex;
  height: 100%;
  width: 100vw;
}
.panel-container__left {
  width: 24.375rem;
  height: 100%;
  z-index: 1;
  background-color: #02000E; /* setting the background at the parent level */
}
.instructions-collapsed {
  width: 5.875rem;
}
.instructionsPanel {
  height: 100%;
  position: relative;
}
.panel-container__right {
  flex-grow: 1;
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  justify-content: space-between;
}
.consolePanel {
  width: 100%;
  height: 14.938rem;
  overflow-y: scroll;
  z-index: 1;
}
.mapPanel {
  flex-grow: 1;
}

.map-hole {
  height: 100%;
}

.map-container {
  position: fixed;
  left:  0;
  top:  0;
  width: 100vw;
}

.mapboxgl-ctrl-attrib-inner {
  z-index: -1;
}

@media (min-width: 1512px) {
  .panel-container__left {
    width: 31.75rem;
  }
  .instructions-collapsed {
    width: 6.25rem;
  }
  .consolePanel {
    height: 20.188rem;
  }
}