.tutorial-content {
  /*height:  100%;*/
  width:  100%;
}

.tutorial {
  height:  100%;
  padding:  10px;
  background-color: #8f95a2;
  overflow:  scroll;
}

.tutorial .nav {
  margin-top: 20px;
  text-align: center;
  /*position:  fixed;*/
  /*bottom:  50px;*/
}

.tutorial .nav .nav-button {
  background-color: #6052a7;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 8px;
  margin: 10px;
  width:  100px;
}