.main {
  height: 100vh;
  width: 100vw;
}

.split-pane-vertical {
  display: flex;
  flex-direction: column;
}

.split-pane-horizontal {
  display: flex;
  flex-direction: row;
}

.right-pane {
  width: 50%;
}

.left-pane {
  width: 50%;
}

.top-pane {
  height: 50%;
}

.bottom-pane {
  height: 50%;
}